@mixin padding-style {
  margin-left: var(--navBar__width);
}
@mixin main-style {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: scroll;
  background-color: var(--primary__background-color);
  clear: both;
}

@mixin styles() {
  .home__main {
    padding: calc(var(--primary__font-size) * 3);
    @include padding-style;
    @include main-style;
  }
  .c-home__section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: calc(var(--primary__font-size) * 2);
  }
  .chat__detail-main {
    padding: calc(var(--primary__font-size) * 3) calc(var(--primary__font-size) * 3) 0
      calc(var(--primary__font-size) * 3);

    @include padding-style;
    @include main-style;
  }

  .error__main {
    @include padding-style;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: var(--primary__background-color);
    gap: calc(var(--primary__font-size) * 2);
  }

  .home__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #838383;
  }

  .body__container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}
