@import "../settings/colors";

@mixin border-bottom-style {
  border-bottom: 3px solid var(--navBar__primary-color);
  padding-bottom: var(--primary__padding);
}

@mixin styles() {
  .main__container {
    background-color: var(--primary__background-color);

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 16px;
    overflow-y: scroll;
    background-color: var(--primary__background-color);
    position: relative;
  }

  .c-title {
    @include border-bottom-style;
    margin-bottom: calc(var(--primary__padding) * 3);

    &__detail {
      @include border-bottom-style;
      display: flex;
      align-items: center;

      button {
        background: none;
        padding: 0 var(--primary__padding) 0 0;
      }
    }
  }

  .c-chat-title {
    @include border-bottom-style;

    &__detail {
      @include border-bottom-style;
      display: flex;
      align-items: center;
      justify-content: space-between;

      & > section {
        display: flex;
      }
      button {
        background: none;
        padding: 0 var(--primary__padding) 0 0;
      }
    }
  }
}
